{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ 'title.bookmark'|trans }}</h1>

    {% if bookmark is defined and bookmark|length %}

        <p>{{ 'label.id'|trans  }}: {{ id }} </p>
        <p>{{ 'label.url'|trans }}: {{ bookmark.url }} </p>
        {% for tag in bookmark.tags %}
            <dd>{{ tag }}</dd>
        {% endfor %}

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}


